body{
    background-color:brown;
    width: 90%; 
    margin: auto;
}

h1, p{
    text-align: center;
}
.row {
    display: flex;
    background-color: blue;
    width: 60%;
    height: 60px;
    padding: 10px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.h{
display: flex;
justify-content: space-evenly;
}

#board{
    width: 60%;
    height: 500px;
    margin: auto; 
    background-color:bisque;
}