body{
    background-color: #2D3047;
    width: 90%; 
    margin: auto;
}

h1, p{
    color: #C5E6A6;
    text-align: center;
}
.row {
    display: flex;
    width: 80%;
    height: auto;
    padding: 10px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.h{
display: flex;
justify-content: space-evenly;
}

#board{
    width: 60%;
    height: 500px;
    margin: auto; 
    background-color:#E3D8F1;
}