form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    background-color: #2D3047;
    width: 90%; 
    margin: auto;
    flex-direction: row;
    justify-content: space-evenly;
}

h1, p{
    display: flex;
    color: #C5E6A6;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#welcome{
    color: #2D3047;
}

.row {
    display: flex;
    width: 80%;
    height: auto;
    /* padding: 10px; */
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.h{
display: flex;
justify-content: space-evenly;
height: 50px
}

#board{
    width: 80%;
    height: auto;
    margin: auto; 
    background-color:#E3D8F1;
}